<div class="wrapper col-lg-12 col-md-12 col-sm-12">
    <main class="container">
      <!-- title section -->
        <div class="sectionTitle">
          <h6 class="heading">Ligula mi fringilla vel hendrerit</h6>
          <p>Et malesuada vitae risus in a enim in metus ultrices tristique</p>
        </div>
        <!-- content section -->
      <div class="row">
        <div class="section1 first">
          <div class="image">
            <img src="../../assets/images/im1.jpg" alt="Integer">
          </div>
          <div class="texts">
            <h3>
              Integer Aliquet Dignissim Tellus
            </h3>
            <i class="fa fa-user"></i> <a href="#" class="links">Admin</a> <i class="fa fa-tag"></i><a href="#" >Tag 1, Tag 2</a>
            <p>Vestibulum consequat praesent bibendum vehicula mi sed fermentum erat sit amet imperdiet dictum enim lectus [...]
            </p>
            <div><a class="btn" href="#">Read More</a></div>
          </div>
        </div>
        <div class="section2">
          <div class="image">
            <img src="../../assets/images/im2.jpg" alt="Tortor">
          </div>
          <div class="texts">
            <h3>
              Tortor Tempus Metus Neque
            </h3>
            <i class="fa fa-user"></i> <a href="#" class="links">Admin</a> <i class="fa fa-tag"></i><a href="#" >Tag 1, Tag 2</a>
            <p>Vel elit integer in orci vitae lacus ultricies mattis suspendisse congue sapien vel massa posuere lacinia [...]
            </p>
            <div><a class="btn" href="#">Read More</a></div>
          </div>
        </div>
        <div class="section3">
          <div class="image">
            <img src="../../assets/images/im3.jpg" alt="Phasellus">
          </div>
          <div class="texts">
            <h3>
              Phasellus A Ipsum Eget Odio
            </h3>
            <i class="fa fa-user"></i> <a href="#" class="links">Admin</a> <i class="fa fa-tag"></i><a href="#" >Tag 1, Tag 2</a>
            <p>Fringilla tincidunt proin velit aliquam erat volutpat etiam elementum eros ut ante fusce a lacus ac neque [...]
            </p>
            <div><a class="btn" href="#">Read More</a></div>
          </div>
        </div>
      </div>
    </main>
</div>