$wb: #0E74A5;
$wb2: #F7A804;


.one_half{
    width: 47.89473%;
}

#header{
    padding: 50px 0;
}

#header #logo span{
    font-size: 4rem;
    font-weight: 400;
    line-height: 1;
    color: $wb;

}

#header #logo h1{
    color: $wb2;
    font-family: Georgia,"Times New Roman",Times,serif;
}


.one_half {
    display: inline-block;
    list-style: none;
}
.first{
    margin-left: 0;
    clear: left;

}



#header ul li div i {
    width: 60px;
    height: 60px;
    line-height: 58px;
    font-size: 22px;
    text-align: center;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50%;
}
.block {
    display: block;
}
#header>ul>li>div>span {
    display: block;
    padding: 8px 0 0 0;
}