<div class="container">
  <header id="header" class="hoc clear">
    <div id="logo" class="one_half ">
      <h1 class="logoname">
        <span>Suro</span>gou</h1>
    </div>
    <div class="one_half">
      <ul class="nospace clear">
        <li class="one_half first">
          <div class="block clear ">
            <i class="fa fa-phone"></i>
            <span>
              <strong class="block">Call Us:</strong> 
              +00 (123) 456 7890</span>
          </div>
        </li>
        <li class="one_half ">
          <div class="block clear">
            <i class="fa fa-clock"></i>
            <span>
              <strong class="block">Mon. - Sat.:</strong> 08.00am - 18.00pm</span>
          </div>
        </li>
      </ul>
    </div>
  </header>
</div>