<div class="wrapper col-lg-12 col-md-12 col-sm-12">
  <main class="container content">
    <div class="row">
      <div class="section1 first">
        <div id="logo" class="one_half ">
          <h1 class="logoname">
            <span>Suro</span>gou</h1>
          <br>
          <br>
          <p>Sem nam et erat nec eros elementum gravida proin bibendum diam sed congue sagittis metus risus rutrum mauris sed
            euismod nisl purus vel leo phasellus nunc erat cursus aliquet [...]</p>
          <ul class="icon clear">
            <li>
              <a class="icon-dribble" href="#">
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
            <li>
              <a class="icon-facebook" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="icon-google-plus" href="#">
                <i class="fa fa-google-plus-g"></i>
              </a>
            </li>
            <li>
              <a class="icon-linkedin" href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a class="icon-twitter" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="icon-vk" href="#">
                <i class="fa fa-vk"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="section2">
        <p class="title">Massa Hendrerit Bibendum</p>

        <a href="#">Tincidunt vel vulputate egestas</a>
        <hr>
        <a href="#">Leo sed porttitor accumsan arcu</a>
        <hr>
        <a href="#">Aenean ac urna et leo posuere</a>
        <hr>
        <a href="#">Pretium suspendisse ac elit ut</a>
      </div>
      <div class="section3">
        <p class="title">Eitam Auctor Dignissim</p>
        <p>Leo integer sem nisl mollis ut onare eu lobortis eget ante mauris tempor.</p>
        <form action="#" method="post">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button type="submit" value="submit">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
  </main>
  <hr>
  <div class="container">
      <div class="row last">
          <div class="fo-left">
            <p class="left" >Copyright 2009 - 2018 - All Rights Reserved - Domain Name</p>
          </div>
          <div class="fo-right">
            <p class="right">Template by OS Templates</p>
          </div>
        </div>
  </div>
</div>