$wb: #0E74A5;
$wb2: #F7A804;

.wrapper {
    color: #474747;
    background-color: #FFFFFF;
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}
.content {
    padding: 80px 0;
}
.section1, .section2, .section3{
    width: 29.89473%;
    margin-right: 39px;
}





///for surogou
#logo span{
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: $wb;

}

 #logo h1{
    font-size: 32px;
    font-weight: 700;
    color: $wb2;
    font-family: Georgia,"Times New Roman",Times,serif;
}


#logo>p, .section3>p{
    color: #474747;
}
.section2>a{
    color: $wb2;
}
.section2>.title, .section3>.title{
    color: #000;
    margin-bottom: 50px;
    font-size: 1.2rem;
    font-family: Georgia,"Times New Roman",Times,serif;

}

//for icon
.icon{
    margin: 0;
    padding: 0;
    list-style: none;
}
.icon li{
    display: inline-block;
    margin: 8px 5px 0 0;
    padding: 0;
    line-height: normal;
}
.icon a{
    color: #fff;
    background-color: #0E74A5;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
}

//for form
form, fieldset, legend{
    margin: 0;
    padding: 0;
    border: none;
}
legend{
    display: none;
}

input{
    color: #fff;
    background-color: #0E74A5;
    border-color: transparent;
    display: block;
    width:100%;
    padding: 8px;
    border: 1px solid;
    margin: 0px 0px 10px 0px;
}
button{
    color: #fff;
    background-color: #F7A804;
    border-color: transparent;
    padding: 8px 18px 10px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid;
}

.right{
    margin-left: 500px;
}