<div class="wrapper col-lg-12 col-md-12 col-sm-12">
    <main class="container">
      <!-- title section -->
        <div class="sectionTitle">
          <h6 class="heading">Mauris tincidunt eu tincidunt</h6>
          <p>In egestas vitae turpis sed velit urna sollicitudin ut euismod</p>
        </div>
        <!-- content section -->
      <div class="row">
        <div class="section1 first">
          <div class="image">
            <img src="../../assets/images/i1.jpg" alt="girl" class="center">
          </div>
          <div class="cardview">
            <p> <i class="fa fa-quote-left"></i> Nec hendrerit vel velit ut sodales feugiat nulla proin porttitor lacus eget mi quisque in eros ut porttitor dapibus enim duis mollis accumsan purus etiam quis lorem hendrerit.</p>
          </div>
          <div class="name">
              <h6 class="heading">G. Name</h6>
              <p>Neque convallis pretium</p>
          </div>
        </div>
        <div class="section2">
          <div class="image">
            <img src="../../assets/images/i2.jpg" alt="boy" class="center">
          </div>
          <div class="cardview">
            <p> <i class="fa fa-quote-left"></i> Vestibulum volutpat ut consequat tincidunt tortor nulla enim morbi id ante in felis iaculis faucibus duis nibh diam tristique scelerisque viverra at vulputate quis lacus donec.</p>
          </div>
          <div class="name">
              <h6 class="heading">H. Name</h6>
              <p>Vestibulum odio vivamus</p>
          </div>
        </div>
      </div>
    </main>
</div>