.wrapper {
    color: #FFF;
    background: linear-gradient(to bottom right,#0E74A5,#4FB5F5);
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}

@media screen and (min-width: 1140px)
{
.hoc {
    max-width: 1140px;
}
}
.container {
    padding: 80px 0;
}
.hoc {
    display: block;
    margin: 0 auto;
}

.section1, .section2{
    width: 46.89473%;
    margin-right: 35px;
}

//for title
.sectionTitle {
    display: block;
    max-width: 55%;
    margin: 0 auto 80px;
    text-align: center;
}

.sectionTitle> h6, .heading {
    margin: 0 0 20px 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-family: Georgia,"Times New Roman",Times,serif;
}

.sectionTitle p{
    margin-top: -20px;
}
.first {
    margin-left: 0;
    clear: left;
}

.container .row {
    margin: 0;
    padding: 0;
}


//for image
.image img{
    margin-bottom: 20px;
    border-radius: 50%;
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;

}
.cardview p{
    color: #474747;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

.cardview{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    z-index: 1;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name, h6{
    font-size: 1.4rem;
    line-height: normal;
    font-weight: normal;
    font-family: Georgia,"Times New Roman",Times,serif;
    text-align: center;
}

.name p{
    display: block;
    margin-top: -20px;
    font-size: .8rem;
    font-style: normal;
}

