$navbar-color: #0E74A5;
$white: #fff;
$home-color: #F7A804;

.container>a {
    color: #F7A804;
}


.wrapper {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}
.topbar{
    padding: 15px 0;
    font-size: .8rem;
    text-transform: uppercase
}
.color{
    background-color: $navbar-color;
}
.wht{
    color: $white;
}
a{
    color: $white;
}
.fl_right{
    float: right;
}
.nospace{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topbar ul li{
    display: inline-block;
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid $white;
}