<nav class="navbar navbar-expand-lg navbar-dark color  wrapper col-lg-12 col-md-12 col-sm-12">
  <div class="container ">
    <a class="navbar-brand" (click)="showHome()"> <i class="fa fa-home prefix"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  topbar col-lg-12 col-md-4 col-sm-4" id="navbarColor01">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item wht ">
        <a [routerLink]="['/gridpage']">ABOUT</a>
      </li>
      <li class="nav-item wht">
        CONTACT
      </li>
      <li class="nav-item wht">
        LOGIN
      </li>
      <li class="nav-item wht">
        REGISTER
      </li>
    </ul>
    <div class="fl_right">
      <ul class="nospace">
        <li class="wht"><i class="fa fa-phone "></i> +00 (123) 456 7890</li>
        <li class="wht"><i class="fa fa-envelope"></i> info@domain.com</li>
      </ul>
    </div>
  </div>
  </div>
</nav>