<div class="section1">
  <div id="pageintro" class="hoc clear">
      <article>
      <p>Basic Grid</p>
      <h3 class="heading">Ultricies fusce sed ligula</h3>
      <p>Sem suscipit mollis praesent volutpat placerat nisl suspendisse</p>
      <footer><a class="btn" href="#">Potenti nunc nec urna</a></footer>
      </article>
  </div>



  <div id="grid">
    <div  class="container">
      <div class="row">
      <h6>Half</h6>
      <div class="col-md-6 col-lg-6 col-sm-6 ">
       <div class="grey"><p>1/2</p></div> </div>
      
      <div class="col-md-6 col-lg-6 col-sm-6 ">
         <div class="dark"><p>1/2</p></div> 
      </div>
    </div>
    <br>
   
    <div class="row">
     <h6>Quarter</h6>
     <div class="col-md-3 col-sm-3 col-lg-3 ">
        <div class="grey"><p>1/4</p></div> 
      </div>
       <div class="col-md-3 col-sm-3 col-lg-3  ">
         <div class="dark"><p>1/4</p></div> 
      </div>
       <div class="col-md-3 col-sm-3 col-lg-3 ">
          <div class="grey"><p>1/4</p></div> 
      </div>
       <div class="col-md-3 col-sm-3 col-lg-3  ">
          <div class="dark"><p>1/4</p></div> 
      </div>
    </div>
    <br>
    <div class="row">

        <div class="col-md-3 col-sm-3 col-lg-3 ">
           <div class="grey"><p>1/4</p></div> 
         </div>
          <div class="col-md-3 col-sm-3 col-lg-3  ">
            <div class="dark"><p>1/4</p></div> 
         </div>
          <div class="col-md-6 col-sm-6 col-lg-6 ">
             <div class="grey"><p>1/4</p></div> 
         </div>
          
       </div>
       <br>
       <div class="row">

          <div class="col-md-3 col-sm-3 col-lg-3 ">
             <div class="grey"><p>1/4</p></div> 
           </div>
            <div class="col-md-9 col-sm-9 col-lg-9  ">
              <div class="dark"><p>1/4</p></div> 
           </div>
            
          </div>
          <br>
         <div class="row">
            <h6>Third</h6>
            <div class="col-md-4 col-sm-4 col-lg-4 ">
               <div class="grey"><p>1/4</p></div> 
             </div>
              <div class="col-md-4 col-sm-4 col-lg-4  ">
                <div class="dark"><p>1/4</p></div> 
             </div>
              <div class="col-md-4 col-sm-4 col-lg-4 ">
                 <div class="grey"><p>1/4</p></div> 
             </div>
              
           </div>
           <br>
           <div class="row">

              <div class="col-md-4 col-sm-4 col-lg-4 ">
                 <div class="grey"><p>1/4</p></div> 
               </div>
                <div class="col-md-8 col-sm-8 col-lg-8  ">
                  <div class="dark"><p>1/4</p></div> 
               </div>
                
                
             </div>
             <br>
  </div>
  </div>
</div>