//color
$white: #fff;

.section1 {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    background-image: url('../../assets/images/section1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.section1img{
    width: 100%;
}


#pageintro {
    color: $white;
}
#pageintro {
    padding: 180px 0;
}

@media screen and (min-width: 1140px)
{
.hoc {
    max-width: 1140px;
}
}
.hoc {
    display: block;
    margin: 0 auto;
}



//heading
#pageintro p:first-of-type {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 5px;
}

#pageintro .heading {
    margin-bottom: 20px;
    font-size: 4rem;
}
 h3,.heading {
    margin: 0 0 20px 0;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
}
h3,.heading {
    font-family: Georgia,"Times New Roman",Times,serif;
}

p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


//footer
#pageintro footer {
    margin-top: 50px;
}


//button
.btn, .btn.inverse:hover {
    color: $white;
    background-color: #F7A804;
    border-color: #F7A804;
}
.btn {
    display: inline-block;
    padding: 8px 18px 10px;
    text-transform: uppercase;
}
a {
    color: #F7A804;
    outline: none;
    text-decoration: none;
}
.grey {
    background-color: #E5E5E5;
    width: 100%;
    height: 25px;
  }


  .dark {
    background-color: #474747;
    width: 100%;
    height: 25px;
  }
  