$orange: #F7A804;
$white: #fff;
$dark-green: #879704;
.orange{
    background-color: $orange;
}
.wht a{
    color: $white;
    padding: 10px;
}
.green{
    color: $dark-green;
}

#mainnav{
    position: relative;
    margin-bottom: -30px;
    z-index: 999;
}