//for wrapper class
.row3 {
    color: #474747;
    background-color: #FFF;
}
.wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}



//for title
.galleryTitle {
    display: block;
    max-width: 55%;
    margin: 0 auto 80px;
    text-align: center;
}


 h6, .heading {
    margin: 0 0 20px 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-family: Georgia,"Times New Roman",Times,serif;
}
 

h6 {
    display: block;
    font-size: 0.67em;
    -webkit-margin-before: 2.33em;
    -webkit-margin-after: 2.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}



p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}




///for gallery images
@media screen and (min-width: 1140px)
{
.hoc {
    max-width: 1140px;
}
}
.container {
    padding: 80px 0;
}

.nospace {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


.overview>li:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
}
.overview>li {
    margin-bottom: 30px;
}
.one_third{
    width: 30.52631%;

    display: inline-block;
    margin: 0 0 0 4.21052%;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}










//for hover text

.overview>li .figure {
    position: relative;
    max-width: 348px;
}

.figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}




//for the color and position of text inside image
.overview>li .figure .figcaption {
    color: #FFF;
}
.overview>li .figure .figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
}
 .figure {
    display: block;
    margin: 0;
    padding: 0;
}




//font size and position of text inside image
.overview>li .figure .figcaption * {
    margin: 0;
}
 h6, .heading {
    margin: 0 0 20px 0;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-family: Georgia,"Times New Roman",Times,serif;
}
h6 {
    display: block;
    font-size: 0.67em;
    -webkit-margin-before: 2.33em;
    -webkit-margin-after: 2.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}



///responsive
