<div class="wrapper row3 ">
    <main class="hoc container clear ">
      <div class="galleryTitle ">
        <h6 class="heading">Quis est gravida facilisis</h6>
        <p>Mauris tempor aenean pretium sem et luctus semper justo velit</p>
      </div>
      <ul class="nospace group overview ">
        <li class="one_third ">
          <div class="figure grid"><a href="#"><img src="../../assets/images/g1.jpg" alt="Template Demo Image"></a>
            <div class="figcaption">
              <h6 class="heading">Dapibus pede tristique</h6>
              <p>Congue quam erat et dui morbi at sapien non enim blandit.</p>
            </div>
          </div>
        </li>
        <li class="one_third ">
          <div class="figure grid"><a href="#"><img src="../../assets/images/g2.jpg" alt="Template Demo Image"></a>
            <div class="figcaption">
              <h6 class="heading">Interdum morbi posuere</h6>
              <p>Etiam consequat arcu accumsan commodo luctus nibh fringilla.</p>
            </div>
          </div>
        </li>
        <li class="one_third ">
          <div class="figure grid"><a href="#"><img src="../../assets/images/g3.jpg" alt="Template Demo Image"></a>
            <div class="figcaption">
              <h6 class="heading">Augue non vehicula</h6>
              <p>Erat neque et tortor ut molestie ultricies quam aliquam.</p>
            </div>
          </div>
        </li>
        <li class="one_third ">
          <div class="figure grid"><a href="#"><img src="../../assets/images/g4.jpg" alt="Template Demo Image"></a>
            <div class="figcaption">
              <h6 class="heading">Erat volutpat integer</h6>
              <p>Posuere vulputate leo nullam eu tellus phasellus aliquam.</p>
            </div>
          </div>
        </li>
        <li class="one_third ">
          <div class="figure grid"><a href="#"><img src="../../assets/images/g5.jpg" alt="Template Demo Image"></a>
            <div class="figcaption">
              <h6 class="heading">Tellus ut libero etiam</h6>
              <p>Ut metus quisque pretium nunc fermentum volutpat velit sed.</p>
            </div>
          </div>
        </li>
        <li class="one_third ">
          <div class="figure grid"><a href="#"><img src="../../assets/images/g6.jpg" alt="Template Demo Image"></a>
            <div class="figcaption">
              <h6 class="heading">Dictum bibendum velit</h6>
              <p>Nulla iaculis pellentesque nunc felis tristique vel ultrices.</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="clear"></div>
    </main>
  </div>