<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<app-header></app-header>
<app-main-nav></app-main-nav>
<router-outlet></router-outlet>
<app-section6></app-section6>
<app-footer></app-footer>
