<div class="section1">
    <div id="pageintro" class="hoc clear">
        <article>
        <p>Aenean ac nisl vitae lobortis</p>
        <h3 class="heading">Ultricies fusce sed ligula</h3>
        <p>Sem suscipit mollis praesent volutpat placerat nisl suspendisse</p>
        <footer><a class="btn" href="#">Potenti nunc nec urna</a></footer>
        </article>
    </div>
</div>