<div class="wrapper col-lg-12 col-md-12 col-sm-12">
  <main class="container">
    <!-- title section -->
    <div class="sectionTitle">
      <h6 class="heading">Interdum Pulvinar Aliquam</h6>
      <p>ib urna proin luctus ligula eget mauris quisque congue malesuada</p>
    </div>
    <!-- content section -->
    <div class="row">
      <div class="section1 first">
        <div class="texts">
          <h3>Give Us A Call:</h3>
            +00 (123) 456 7890
        </div>
      </div>
      <div class="section2">
        <div class="texts">
          <h3>Send Us A Email:</h3>
          support@domain.com
        </div>
      </div>
      <div class="section3">
        <div class="texts">
          <span>
            <!-- <i class="fa fa-phone"></i> -->
            <h3>Come Visit Us:</h3>
            Directions to <a href="#">our location</a>
          </span>
        </div>
      </div>
    </div>
  </main>
</div>