//for title
.sectionTitle {
    display: block;
    max-width: 55%;
    margin: 0 auto 80px;
    text-align: center;
}

.sectionTitle> h6, .heading {
    margin: 0 0 20px 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-family: Georgia,"Times New Roman",Times,serif;
}

.sectionTitle p{
    margin-top: -20px;
}
.first {
    margin-left: 0;
    clear: left;
}



.wrapper {
    color: #FFF;
    background: linear-gradient(to bottom right,#0E74A5,#4FB5F5);
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}

@media screen and (min-width: 1140px)
{
.hoc {
    max-width: 1140px;
}
}
.container {
    padding: 80px 0;
}
.hoc {
    display: block;
    margin: 0 auto;
}

.section1, .section2, .section3{
    width: 29.89473%;
    margin-right: 39px;
}


.texts h3{
    margin: 0 0 10px 0;
    font-size: 1.3rem;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: bold;
}

.texts{
    color: #474747;
    background-color: #fff;
    display: block;
    position: relative;
    width: 100%;
    padding: 20px;

}



.fa{
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
.texts>span>a{
    color: #F7A804;
}