<div class="wrapper col-lg-12 col-md-12 col-sm-12">
    <main class="container">
      <!-- title section -->
        <div class="sectionTitle">
          <h6 class="heading">Vitae Congue At Urna Suspendisse</h6>
          <p>Vestibulum nisi ut lectus proin lectus ante fermentum sed</p>
        </div>
        <!-- content section -->
      <div class="row">
        <div class="content1 first">
          <div class="image" >
              <a class="ringcon btmspace-50" href="#"><i class="fa fa-eraser"></i></a>
              <h6 class="heading">Bibendum rutrum congue</h6>
          </div>
          <div class="caption">
              <p>Tortor proin sagittis mauris ac odio morbi ut massa donec suscipit eros ut justo etiam non orci nullam at tortor maecenas eu.</p>
          </div>
        </div>
        <div class="content2">
            <div class="image">
                <a class="ringcon btmspace-50" href="#"><i class="fa fa-dolly-flatbed"></i></a>
                <h6 class="heading">Neque Lacinia Ullamcorper</h6>
            </div>
            <div class="caption">
                <p>Posuere etiam in arcu nam sodales euismod tellus quisque nunc mauris vehicula in ultrices tempor imperdiet vitae sapien morbi.</p>
            </div>
          </div>
          <div class="content3 ">
              <div class="image">
                  <a class="ringcon btmspace-50" href="#"><i class="fa fa-text-width"></i></a>
                  <h6 class="heading">Accumsan Dignissim Libero</h6>
              </div>
              <div class="caption">
                  <p>Suspendisse potenti vestibulum mattis suspendisse potenti praesent nec ligula ut non ante sit amet est luctus dictum duis magna.</p>
              </div>
            </div>
      </div>
    </main>
</div>