.wrapper {
    color: #474747;
    background-color: #F4F4F4;
}

@media screen and (min-width: 1140px)
{
.hoc {
    max-width: 1140px;
}
}
.container {
    padding: 80px 0;
}
.hoc {
    display: block;
    margin: 0 auto;
}

//for icon

.ringcon {
    background-color: #FFF;
    border-color: rgba(0,0,0,.2);
}
.ringcon {
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
}

a {
    color: #F7A804;
}
a {
    outline: none;
    text-decoration: none;
}
.ringcon i {
    display: block;
    width: 160px;
    height: 160px;
    line-height: 160px;
    font-size: 56px;
}

.btmspace-50 {
    margin-bottom: 50px;
}





//for title
.sectionTitle {
    display: block;
    max-width: 55%;
    margin: 0 auto 80px;
    text-align: center;
}

.sectionTitle> h6, .heading {
    margin: 0 0 20px 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-family: Georgia,"Times New Roman",Times,serif;
}
.content1, .content2, .content3{
    width: 30.52631%;
}
.first {
    margin-left: 0;
    clear: left;
}
.sectionTitle p{
    margin-top: -20px;
}


//for caption
.caption1> h6, .heading {
    margin: 0 0 20px 0;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}
.caption1>p{
    text-align: center;
}

.fa, .caption{
    text-align: center;
}